body{
	margin: 0;
	padding: 0;
	background-image: url("img/images.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.puntero:hover{
	cursor: pointer;
}

#scrollButton{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
}

.colorTitulo{
	background-color: #8E5AD5;
	color: white;
}

.colorCardSup{
	background-color: #8BDEB3;
	color: white;
}

.colorEnlaces{
	background-color: #C1F637;
	color: black;
}

.colorTexto{
	background-color: #8BDEB3;
	color: #1b5e20;
}

.colorBoton{
	background-color: #FF625F;
	color: white;
}




body{
  background-color: #98cfb2;
}
.pendulum{
  position:relative; 
  width: 220px;
  height: 180px;
  background-color: #f8c6cf;
  border-radius: 5%;
  align-items: center;
  border-top: 15px solid #eee7d5;
  }
.pendulum_box{
  display: flex;
  padding: 120px 0 0 10px;
  position: absolute;
  flex: 1;
}
.ball{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #455681;
  position: relative;
  transform-origin: 50% -300%;
  
}
  .ball::before{
    content: '';
    width: 2px;
    height: 120px;
    background-color: #fffeff;
    left: 18px;
    top: -120px;
    position: absolute;
  }

.ball.first{
  animation: firstball .9s alternate ease-in infinite;
}

@keyframes firstball{
  0%{
    transform: rotate(35deg);
  }
  50%{
    transform: rotate(0deg);
  }
}

.ball.last{
  animation: lastball .9s alternate ease-out infinite;
}

@keyframes lastball{
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-35deg);
  }
}
/*<div id="contenedor">
		<div class="reloj" id="Horas">00</div>
		<div class="reloj" id="Minutos">:00</div>
		<div class="reloj" id="Segundos">:00</div>
		<div class="reloj" id="Centesimas">:00</div>
		<input type="button" class="boton" id="inicio" value="Start &#9658;" onclick="inicio();">
		<input type="button" class="boton" id="parar" value="Stop &#8718;" onclick="parar();" disabled>
		<input type="button" class="boton" id="continuar" value="Resume &#8634;" onclick="inicio();" disabled>
		<input type="button" class="boton" id="reinicio" value="Reset &#8635;" onclick="reinicio();" disabled>
	</div>*/




.back {
  width: 100%;
  height: 200px;
}

.flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

